@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, -25px); }
  100%   { transform: translate(0, -0px); }    
}

.hero-container {
  position: relative;
  background-image: url('https://prod.spline.design/wfXHkAgIdi1WVnH0/scene.splinecode');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}